<p id="notice"><%= notice %></p>

<%= link_to "Preview", comm_preview_page_path(@comm,"index") , class:"btn btn-default"%>
<%= link_to 'Edit', edit_comm_path(@comm) %> |
<%= link_to 'Back', comms_path %>
